
      <section class="h-100 login-page">
        <div class="container h-100">
          <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    Better Together
                  </div>
              <div class="card fat">
                <div class="card-body">
                  <h2 class="card-title text-center">Signup</h2>
                  <form  class="login-validation"  (ngSubmit)="signup()"  #signupForm="ngForm"> 

                      <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" id="inputemail" class="form-control" placeholder="email" required  
                                [(ngModel)]="email" name="email" #name="ngModel">
                      </div>
                    <div class="form-group">
                      <label for="email">Username</label>
                      <input type="text" id="inputUsername" class="form-control" placeholder="Username" required  
                            [(ngModel)]="username" name="username" #name="ngModel">
                    </div>
    
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required 
                             [(ngModel)]="password" name="password" #name="ngModel">
                    </div>
    
                    <hr />
    
                    <div class="form-group m-0">
                      <button type="submit" class="btn btn-primary btn-block"> Signup </button>
                    </div>
                    <div class="mt-4 text-center">
                        <span> Already a member? <a class="btn btn-link" [routerLink]="['/login']">Login in</a> </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    