
.login-page .brand {
	height: 75px;
	overflow: hidden;
	margin: 0 auto;
	margin: 30px auto;
	position: relative;
  z-index: 1;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 54px;
  font-weight: 800;
  text-shadow: 2px 1px 1px #d7d7d7; 
}

.login-page .brand img {
	width: 100%;
}

.login-page .card-wrapper {
	width: 400px;
}

.login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.login-page .card.fat {
	padding: 10px;
}

.login-page .card .card-title {
	margin-bottom: 30px;
}

.login-page .form-control {
	border-width: 2.3px;
}

.login-page .form-group label {
	width: 100%;
}

.login-page .btn.btn-block {
	padding: 12px 10px;
}

